.light-medium-contrast {
  --md-sys-color-primary: rgb(107 51 20);
  --md-sys-color-surface-tint: rgb(141 77 45);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(168 99 64);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(88 60 47);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(142 109 94);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(73 68 24);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(124 118 69);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(34 26 22);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(34 26 22);
  --md-sys-color-surface-variant: rgb(244 222 213);
  --md-sys-color-on-surface-variant: rgb(78 64 57);
  --md-sys-color-outline: rgb(108 92 85);
  --md-sys-color-outline-variant: rgb(137 119 111);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(56 46 42);
  --md-sys-color-inverse-on-surface: rgb(255 237 230);
  --md-sys-color-inverse-primary: rgb(255 182 147);
  --md-sys-color-primary-fixed: rgb(168 99 64);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(138 75 42);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(142 109 94);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(116 85 71);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(124 118 69);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(99 93 47);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(232 215 208);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 235);
  --md-sys-color-surface-container: rgb(252 234 227);
  --md-sys-color-surface-container-high: rgb(246 229 222);
  --md-sys-color-surface-container-highest: rgb(240 223 216);
}
